<!-- your html code here -->
<header class="bg-dark">
        <div class="d-flex">
            <h1 class="text-muted">Start Bootstrap</h1>
            <ul class="nav">
                <li class="nav-item my-auto">
                    <a class="nav-link text-muted" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link text-muted" href="#Services">Services</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link text-muted" href="#Porfolio">Portfolio</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link text-muted" href="#Contact">Contact</a>
                </li>
            </ul>
        </div>
    </header>