<div class="row text-center my-3 w-100">

    <!--Grid column-->
    <div class="col-md-4 mb-4">

        <img class="rounded-circle w-75" alt="100x100"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvetk9tOwHkQMwe1DfoxempOXosaikcVL5QQ&usqp=CAU"
            data-holder-rendered="true">
    </div>
    <div class="col-md-8 mb-4 px-4">
        <h2 class="text-start">The Second Heading <span class="h5">Is Pretty Cool Too</span></h2>
        <p class="text-start"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, cumque perferendis
            quibusdam quae, eum
            amet nobis consectetur, harum ipsam eligendi doloremque hic beatae obcaecati saepe animi adipisci
            exercitationem veniam neque.</p>
    </div>

</div>